@import "../scss/_reset.scss";
@import "../scss/_fonts.scss";

body {
  max-width: 1440px;
  margin: 0 auto;
  overflow-x: hidden;
}

// ⇓ ⇓ ⇓ ⇓ ⇓ header ⇓ ⇓ ⇓ ⇓ ⇓

nav {
  display: flex;
  height: 100px;
  max-width: 1170px;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  background: #fff;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;

  input[type="checkbox"] {
    display: none;
  }

  .menu-btn i {
    line-height: 28px;
    cursor: pointer;
    display: none;
  }

  ul {
    display: flex;
    flex-wrap: nowrap;

    li {
      margin: 0 42px;
      position: relative;

      a {
        color: #000;
        text-decoration: none;
        text-transform: uppercase;
        transition-duration: 0.4s;
      }

      hr {
        visibility: hidden;
        width: 40px;
        border: none;
        height: 1px;
        background-color: #000;
        position: absolute;
        bottom: 0%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      a:hover + hr {
        visibility: visible;
      }
    }
  }
  .magnifier {
    @include fa-icon-solid($fa-var-magnifying-glass);
    color: #000;
  }
}

// fluid
@media (max-width: 923px) {
  nav ul li {
    margin: 0 22px;
  }
}

// tablet and mobile
@media (max-width: 768px) {
  nav {
    height: 60px;
    position: relative;

    .magnifier {
      position: absolute;
      top: 50%;
      right: 10%;
      transform: translate(-50%, -50%);
      line-height: 28px;
    }

    .menu-btn i {
      display: block;
      position: absolute;
      top: 50%;
      right: 0%;
      transform: translate(-50%, -50%);
    }

    ul {
      position: fixed;
      top: 60px;
      left: -100%;
      background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 1) 0%,
        rgba(204, 204, 204, 1) 33%,
        rgba(255, 255, 255, 1) 100%
      );
      opacity: 0.95;
      height: 100vh;
      width: 100%;
      text-align: center;
      display: block;
      transition: all 0.2s ease;
      z-index: 1;

      li {
        width: 100%;
        margin: 42px 0;
      }
    }
  }

  #click:checked ~ .menu-btn i:before {
    content: "\f161";
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translate(-50%, -50%);
  }

  #click:checked ~ ul {
    left: 0;
  }
}

// ⇓ ⇓ ⇓ ⇓ ⇓ main ⇓ ⇓ ⇓ ⇓ ⇓

.banner {
  background-image: url("../img/bg-image.png");
  height: 600px;
  margin: auto;
  background-repeat: no-repeat;
  max-width: 1440px;
  background-size: cover;
  position: relative;
  background-position: bottom;

  &__banner-title h1 {
    font-family: "Red Hat Display";
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 64px;
    letter-spacing: 0.05em;
    max-width: 770px;
    position: absolute;
    top: 15%;
    left: 9%;
  }
}

// ⇓ ⇓ ⇓ ⇓ ⇓ footer ⇓ ⇓ ⇓ ⇓ ⇓
footer {
  display: flex;
  height: 100px;
  max-width: 1170px;
  width: 95%;
  background: #fff;
}

.socials {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;

  &__item {
    position: relative;
    width: 49px;
    height: 49px;
    background-color: transparent;
    border: 1px solid #565656;
    cursor: pointer;
    transition-duration: 0.4s;

    &:hover {
      background-color: #565656;
    }
    &:hover svg {
      fill: #fff;
    }
    & svg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      fill: #565656;
    }
  }
}
